body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
background:#121212;
color:white;
}

.card{
border:none;
border-radius:15px;
}

.card:hover{
transform:scale(1.03);
transition:0.3s;
}
body{
background:#121212;
color:white;
}

.poster{
width:100%;
height:300px;
object-fit:cover;
}

.card{
border:none;
border-radius:18px;
overflow:hidden;
transition:.3s;
}

.card:hover{
transform:scale(1.03);
}

h1,h2,h4{
color:white;
}
body{
background:#111;
}
body{
background:#111;
margin:0;
}